html {
    font-family: livvicSemiBold;
}

body {
    font-size: rem(18px);
    background-color: $mainTurkiz;
    color: $white;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}