@font-face {
    font-family: livvicRegular;
    src: url(fonts/Livvic-Regular.ttf);
}

@font-face {
    font-family: livvicBold;
    src: url(fonts/Livvic-Bold.ttf);
}

@font-face {
    font-family: livvicSemiBold;
    src: url(fonts/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: livvicMediumItalic;
    src: url(fonts/Livvic-MediumItalic.ttf);
}