.main-header {
    grid-column: 2/3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 195px;

    .header-navigate {

        display: flex;
        align-items: center;

        .logo {
            font-size: rem(40px);
            margin-inline-end: 40px;
            margin-bottom: 8px;
        }

        a:not(:first-child) {
            margin-inline-start: 40px;
        }

    }

    .contact {
        border: 2px solid $white;
        border-radius: 555px;
        padding: 10px 32px;
    }
}