.members-layout {
    grid-column: 1/-1;
    text-align: center;
    background-color: $turkiz3 ;

    display: grid;
    grid-template-columns: 165px 1fr 165px;

    .mamber-layout-div{
        grid-column: 2/3;
    }

    .members-header {
        h1 {
            font-family: livvicBold;
            font-size: rem(48px);
            margin: 140px 0px 88px 0px;

        }

        span {
            color: $turkiz1;
        }
    }

    .members-container {
        display: flex;
        gap: 30px;

        .member {
            position: relative;
        }

        p {
            font-size: rem(15px);
            line-height: 25px;
            margin: 0;
            position: relative;
            z-index: 1;
        }

        h2 {
            color: $turkiz1;
            font-family: livvicBold;
            font-size: rem(18px);
            margin-top: 30px;
            margin-bottom: 2px;
        }

        small {
            font-size: rem(13px);
            font-family: livvicMediumItalic;
            display: block;
            margin-bottom: 32px;
        }

        .member-img {
            width: 62px;
        }

        .quote {
            position: absolute;
            top: -35px;
            left: 37%;
        }
    }
}